#supercontainer {
    position: relative;
    width: 500px;
    height: 500px;
    margin-top: 50px;
    margin-left: 300px;
    position: relative;
    border: 1px solid #CCC;
    -moz-perspective: 1000px;
    perspective: 1000px;
}

.css3cube-el {
    border: 3px solid black;
    position: absolute;
    width: 400px;
    height: 400px;
}
