body {
    background-color: lightgrey;
}

#supercontainer {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-left: 350px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.css3cube-el {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    position: absolute;
    width: 180px;
    height: 180px;
    background: rgba(255, 255, 255, .5);

    border: 20px solid rgba(0, 0, 0, 1.0);
    -webkit-background-clip: border-box; /* for Safari */
    background-clip: border-box; /* for IE9+, Firefox 4+, Opera, Chrome */

    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.css3cube-content {
    position: absolute;
    width: 180px;
    height: 180px;
    margin-top: 10px;
    margin-left: 20px;
    background: url(../img/bulb.png) center no-repeat;
}

.css3cube-content-after-shake {
    position: absolute;
    width: 180px;
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
    background: url(../img/cube.svg) center no-repeat;
}